<!--================ Offer section start =================-->
  <div class="row">
    <div class="col-lg-6">
      <div class="row offer-single-wrapper">
        <div class="col-lg-6 offer-single">
          <div class="card offer-single__content text-center">
            <span class="material-icons offer-single__icon">auto_stories</span>
            <h5 class="mt-3">Gérer les asssociés</h5>
            <p>Un outil simple pour gérer les associés et membres de l'écosystème participatif. Vous supervisez les entrées et les sorties, le suivie des candidatures et les libérations de capital. Les associés ont accés à une interface dédiée et peuvent s'échanger des informations pour développer des projets communs.</p>
          </div>
        </div>
        <div class="col-lg-6 offer-single">
          <div class="card offer-single__content text-center">
            <span class="material-icons offer-single__icon">calendar_today</span>
            <h5 class="mt-3">Faciliter les réunions</h5>
            <p>Vous convoquez une réunion en quelques clics. Vous controlez le quorum et gérez en direct le vote des résolutions pendant la séance. Vous paramétrez les droits de votes par collège et le logiciel fait le reste. A la fin de la réunion vous éditez automatiquement le procès-verbal pret à signer.</p>
          </div>
        </div>
      </div>
      <div class="row offer-single-wrapper">
        <div class="col-lg-6 offer-single">
          <div class="card offer-single__content text-center">
            <span class="material-icons offer-single__icon">notifications</span>
            <h5 class="mt-3">Contrôler les échéances</h5>
            <p>Vous êtes notifié des échéances pour ne rien oublier. Préavis de convocation, échéance d'un contrat important, rien ne vous échappe.</p>
          </div>
        </div>
        <div class="col-lg-6 offer-single">
          <div class="card offer-single__content text-center">
            <span class="material-icons offer-single__icon">share</span>
            <h5 class="mt-3">Partager à l'écosystème</h5>
            <p>Vous générez les comptes rendus sur l'application. Vous échanger en direct avec les intervenants. Les membres disposent d'un accès pour consulter la documentation.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="offer-single__img">
        <img class="img-fluid" src="{{asset('build/images/sharedinfo.png')}}" alt="">
      </div>
    </div>
  </div>
</section>
    <!--================ Offer section end =================-->