<!--================ Pricing section start =================-->
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="card text-center card-pricing">
          <div class="card-pricing__header">
            <h1>Free</h1>
            <h6>Le minimum, sans dépense</h6>
            <h2 class="card-pricing__price">GRATUIT</h2>
          </div>
          <ul class="card-pricing__list">
            <p><span class="material-icons">check</span>Gestion des associés</p>
            <p><span class="material-icons">check</span>Stockage de documents</p>
            <p class="unvalid"><span class="material-icons">close</span>Convocation des réunions</p>
            <p class="unvalid"><span class="material-icons">close</span>Suivie des libérations et contrôle d'échéances</p>
            <p class="unvalid"><span class="material-icons">close</span>Partage à l'écosystème</p>
            <p class="unvalid"><span class="material-icons">close</span>Support client</p>
            <p class="unvalid"><span class="material-icons">close</span>Votes en live et génération du procès-verbal</p>
          </ul>
          <div class="card-pricing__footer">
            <a class="button button-light" href="{{ path('landing_contact') }}">Créer un compte</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="card text-center card-pricing">
          <div class="card-pricing__header">
            <h1>Start</h1>
            <h6>Des fonctionnalités, c'est mieux</h6>
            <h2 class="card-pricing__price">19,99€ /mois</h2>
          </div>
          <ul class="card-pricing__list">
            <p><span class="material-icons">check</span>Gestion des associés</p>
            <p><span class="material-icons">check</span>Stockage de documents</p>
            <p><span class="material-icons">check</span>Convocation des réunions</p>
            <p><span class="material-icons">check</span>Suivie des libérations et contrôle d'échéances</p>
            <p><span class="material-icons">check</span>Partage à l'écosystème</p>
            <p><span class="material-icons">check</span>Support client par email</p>
            <p class="unvalid"><span class="material-icons">close</span>Votes en live et génération du procès-verbal</p>
          </ul>
          <div class="card-pricing__footer">
            <a class="button button-light" href="{{ path('landing_contact') }}">Acheter maintenant</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="card text-center card-pricing">
          <div class="card-pricing__header">
            <h1>Premium</h1>
            <h6>Tous les outils pour bien gouverner</h6>
            <h2 class="card-pricing__price">29,99€ /mois</h2>
          </div>
          <ul class="card-pricing__list">
            <p><span class="material-icons">check</span>Gestion des associés</p>
            <p><span class="material-icons">check</span>Stockage de documents</p>
            <p><span class="material-icons">check</span>Convocation des réunions</p>
            <p><span class="material-icons">check</span>Suivie des libérations et contrôle d'échéances</p>
            <p><span class="material-icons">check</span>Partage à l'écosystème</p>
            <p><span class="material-icons">check</span>Support client par email et tél</p>
            <p><span class="material-icons">check</span>Votes en live et génération du procès-verbal</p>
          </ul>
          <div class="card-pricing__footer">
            <a class="button button-light" href="{{ path('landing_contact') }}">Acheter maintenant</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

    <!--================ Pricing section end =================-->