<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			New
			{% block title %}{% endblock %}
		</title>
	</head>
	<body>
		{% block body %}
			<h1>{{ contactFormData.sujet }}</h1>
			<p>{{ contactFormData.message }}</p>
			<p>{{ contactFormData.nom }}</p>
			<h5>{{ contactFormData.email }}</h5>
		{% endblock %}
	</body>
</html>
