<form method="post" action="{{ path('members_deleteNatural', {'id': naturalPerson.id}) }}" onsubmit="return confirm('êtes vous sûre de vouloir supprimer ce membre de votre liste ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ naturalPerson.id) }}">
	<button class="btn bg-primary text-white">Supprimer</button>
</form>
