{% extends 'base.html.twig' %}

{% block title %}- Tableau de bord
{% endblock %}

{% block navbar %}
	{% include 'admin/_navbarAdmin.html.twig' %}
{% endblock %}

{% block body %}
	<div class="main_content">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		<section>
			<div class="mt-5 text-left">
				<h1>Tableau de bord</h1>
			</div>
		</section>
	</div>

{% endblock %}
